  <!-- INFORMATIQUE SKILLS -->
  <!-- <div class="skills_paragraph">
    <h2 class="titles">Skills</h2>

    <div class="container">

      <div class="row all_row_skills">

        <div class="div_coding_skills col-sm-12 col-md-3">
          <#%= image_tag 'codingskills.png', width: 75, height: 75, class: "image_coding"%>
          <div class="all_coding_skills">
            <div class="first_flex_tool">
              <#%= image_tag 'ruby.png', width: 75, height: 75%>
              <#%= image_tag 'rails-logo.png', width: 75, height: 75%>
            </div>
            <div class="second_flex_tool">
              <#%= image_tag 'image HTML logo.png', width: 75, height: 75%>
              <#%= image_tag 'logo CSS image.png', width: 75, height: 75%>
            </div>
            <div class="third_flex_tool">
              <#%= image_tag 'javascript.png', width: 75, height: 75%>
              <#%= image_tag 'github-logo.png', width: 75, height: 75%>
            </div>
            <div class="fourth_flex_tool">
              <#%= image_tag 'bootstrap.png', width: 75, height: 75%>
              <#%= image_tag 'heroku.png', width: 75, height: 75%>
            </div>
          </div>
        </div>

        <div class="div_other_skills col-sm-12 col-md-3">
          <#%= image_tag 'tools_logo.png', width: 100, class: "image_coding"%>
          <div class="all_other_skills">
            <div class="first_flex_tool">
              <#%= image_tag 'hubspot 2.png', width: 75, height: 75%>
              <#%= image_tag 'salesforce.png', width: 75, height: 75%>
            </div>
            <div class="second_flex_tool">
              <#%= image_tag 'IRI.png', width: 75, height: 75%>
              <#%= image_tag 'kantar.png', width: 75, height: 75%>
              <#%= image_tag 'nielsen.png', width: 75, height: 75%>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
 -->
