<!--   <div id="anchor_contact_me" class="contact_me_paragraph">
    <h2 class="titles">Contact me</h2>
    <#%= form_for @contact do |f|  %>
      <div class="section_form">
        <#%= f.label :name %><br>
        <#%= f.text_field :name, required: true %>
      </div>

      <br>

      <div class="section_form">
        <#%= f.label :email %><br>
        <#%= f.text_field :email, required: true %>
      </div>

      <br>

      <div class="section_form message">
        <#%= f.label :message %><br>
        <#%= f.text_field :message, as: :text %>
      </div>

      <div class="hidden">
        <#%= f.label :nickname %><br>
        <#%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <div class="section_form contact-button">
        <#%= f.submit 'Send Message', class: "button btn btn-default" %>
      </div>
    <#% end %>
  </div> -->






<div class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Name"required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationEmail">Email</label>
      <input type="text" class="form-control" id="validationEmail" placeholder="your-email@email.com" required>
      <div class="invalid-feedback">
        Please enter a valid email address
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationMessage">Message</label>
      <input type="text" class="form-control" id="validationMessage" placeholder="Your Message"required>
    </div>
<!--     <input type="submit" class="submit button btn btn-default" value="Send Message"/> -->
     <button class="btn btn-primary" type="submit">Submit form</button>
  </div>

</div>


