  <!-- CONTENT -->
  <div class= "content">
    <div class="main-image">
      <a id="ancre_button" class="ancre_button_1"><i class="fas fa-chevron-down"></i></a>
    </div>
    <div class="photo name and role">
      <div class="name-and-role">
        <h2> Dania Aflak</h2>
        <h3 >Junior Full-Stack Developer</h3>
      </div>
      <div class="cv-photo content-photo">
        <%= image_tag 'photo_CV3 2.png'%>
      </div>
    </div>
    <div id="anchor_about_me"></div>
    <div class="container container_test_2">
      <div class="row row_test_2">
        <div class="col-sm-12 col-md-4 image_bckgd_2">
          <%= image_tag 'photo_CV3 2.png'%>
        </div>
        <div class="col-sm-12 col-md-3 content_test_2">
          <h3>About me</h3>
          <p>Après des études et des expériences dans le domaine du business development, je me suis dirigée vers le bootcamp Le Wagon - un programme Full Stack Web Development où j'ai développé mes compétences techniques. <br><br>

          Je me découvre alors une nouvelle passion pour le code et recherche aujourd'hui de nouvelles opportunités en tant que Developpeuse Junior. <br>

          Motivée, dynamique et curieuse, je ne pourrais pas vous promettre un niveau Senior Full-Stack malheureusement, mais ce que je peux vous promettre c'est mon engagement, ma motivation et mon envie d'apprendre et d'aller plus loin. </p>
          <div class="button-download">
            <button class="btn btn-default"><a href="https://res.cloudinary.com/dmul9lvqo/image/upload/v1556626469/yidqwo9frtxiloqgjzay.pdf" target=_blank> Download My Resume</a></button>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 image2_2"></div>
      </div>
    </div>

    <div class="container container_adjectives">
      <div class="row all_row_adjectives">
        <div class="col-sm-12 col-md-5 image2_3">
        </div>
        <div class="col-sm-12 col-md-7 all_adjectives">
          <div class="first_flex">
            <h3> Curious</h3>
            <h3> Dynamic</h3>
          </div>
          <div class="second_flex">
            <h3> Serious</h3>
            <h3> Joyful</h3>
          </div>
          <div class="third_flex">
            <h3> Take risks</h3>
            <h3> Analytic spirit</h3>
          </div>
        </div>
      </div>
    </div>
