<div class= "la-navbar">
    <div class="navbar-wagon fixed-top">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
<!--         <#%= image_tag 'signature_logo.png'%> -->
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">
<!--         <div class="navbar-wagon-item navbar-wagon-link">
        </div> -->
        <div  class="navbar-wagon-item navbar-wagon-link">
          <a href="#anchor_about_me" class="anchor about_me_anchor">A propos</a>
        </div>
        <div class="navbar-wagon-item navbar-wagon-link">
          <a href="#anchor_languages" class="anchor languages_anchor">Langues</a>
        </div>
        <div class="navbar-wagon-item navbar-wagon-link">
          <a href="#anchor_skills" class="anchor skills_anchor">Compétences</a>
        </div>
        <div class="navbar-wagon-item navbar-wagon-link">
          <a href="#anchor_experiences" class="anchor experiences_anchor">Expériences</a>
        </div>
        <div class="navbar-wagon-item navbar-wagon-link">
          <a href="#anchor_projects" class="anchor projects_anchor">Projets</a>
        </div>
        <div class="navbar-wagon-item navbar-wagon-link">
          <a href="#anchor_education" class="anchor education_anchor">Formations</a>
        </div>
        <div class="navbar-wagon-item navbar-wagon-link">
          <a href="#anchor_contact_me" class="anchor contact_me_anchor">Contact</a>
        </div>
      </div>

    </div>
  </div>
