.row_projects {
  margin-top: 30px;
  margin-bottom: 40px;
  height: 430px;
  display: flex;
  justify-content: center;
}

.my_project_title {
  margin-bottom: 30px;
}

button.card-category{
  width: 100% !important;
  padding: 0 !important;

}

.card__body {
  h3, p {
    font-family: 'Work Sans', sans-serif;
    color: #515150;
  }
  p {
    margin-bottom: 0;
    margin-top: 9px;
  }
}

.carousel-item {
  text-align: center;
}

.carou-arrow {
  font-size: 30px;
  color: black;
}

#anchor_projects{
  padding-top: 72px;
  margin-top: -60px;
}

.card__body.p-4{
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

img.card__img.w-full.h-full{
  width: 100%;
}

