/*body {
  overflow: hidden;
}
*/

.row.skills.languages {
  margin-top: 35px;
}

.all_languages {
  width: 100%;
  border-bottom: solid;
}
.container_langue {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container_all_languages {
    max-width: none;
  }
}

@media (max-width: 1000px ) {
  .skill.language {
    margin-bottom: 30px;
  }
}

.language h3,.language h4{
 font-family: 'Work Sans', sans-serif;
}

svg {
  transform: rotate(-90deg);
  height: 130px;
  width: 130px;
  margin-bottom: 15px;
}

.outer_fr {
  stroke: #f99;
  stroke-dasharray: 578;
  stroke-dashoffset: 500;
  animation: load 2s linear alternate;
  animation-fill-mode: forwards;
}

.outer_en {
  stroke: #f99;
  stroke-dasharray: 550;
  stroke-dashoffset: 500;
  animation: load 2s linear alternate;
  animation-fill-mode: forwards;
}

.outer_ar {
  stroke: #f99;
  stroke-dasharray: 565;
  stroke-dashoffset: 500;
  animation: load 2s linear alternate;
  animation-fill-mode: forwards;
}

.outer_es {
  stroke: #f99;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: load 2s linear alternate;
  animation-fill-mode: forwards;
}


.inner {
  stroke: #fee;
}

@keyframes load {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 300;
  }
}

h3.language2 {
  display: flex;
  justify-content: center;
}

h3.language2 {
  display: flex;
  justify-content: center;
}
#anchor_languages{
  padding-top: 72px;
  margin-top: -72px;
}
