.skill {
  .fas{
    font-size: 100px;
    color: $green;
  }
}

.skill {
  .far{
    font-size: 100px;
    color: $green;
  }
}

.tools {
  .fas {
    font-size: 100px;
    color: $green;
  }
}

.tools-list {
  display: inline-grid;
}

.tools {
  .fas:hover{
  font-size: 107px;
  }
}
